<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="episerver.find" type="EPiServer.Find.Configuration, EPiServer.Find" requirePermission="false" />
  </configSections>
  <episerver.find serviceUrl="https://es-eu-dev-api01.episerver.net/your_key/" defaultIndex="your_index"/>
</configuration>
