<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPiServer.Find" version="12.7.1" targetFramework="net461" />
  <package id="FluentAssertions" version="4.19.0" targetFramework="net452" />
  <package id="Machine.Specifications" version="0.12.0" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="StoryQ" version="2.0.5" targetFramework="net452" />
  <package id="System.Reflection.TypeExtensions" version="4.1.0" targetFramework="net461" />
  <package id="xunit" version="2.3.1" targetFramework="net461" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net452" />
  <package id="xunit.analyzers" version="0.8.0" targetFramework="net461" />
  <package id="xunit.assert" version="2.3.1" targetFramework="net461" />
  <package id="xunit.core" version="2.3.1" targetFramework="net461" />
  <package id="xunit.extensibility.core" version="2.3.1" targetFramework="net461" />
  <package id="xunit.extensibility.execution" version="2.3.1" targetFramework="net461" />
  <package id="xunit.runner.visualstudio" version="2.3.1" targetFramework="net461" developmentDependency="true" />
</packages>