<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPiServer.Find" version="12.0.0.4448" targetFramework="net452" />
  <package id="FluentAssertions" version="4.6.3" targetFramework="net452" />
  <package id="Machine.Specifications" version="0.9.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
  <package id="StoryQ" version="2.0.5" targetFramework="net452" />
  <package id="xunit" version="2.1.0" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net452" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net452" />
  <package id="xunit.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net452" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net452" />
</packages>